apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-secrets-sa
  namespace: external-secrets
  annotations:
    azure.workload.identity/client-id: __CLIENT_ID__
  labels:
    azure.workload.identity/use: 'true'
