replicaCount: 1

image:
  tag: "dev"

autoscaling:
  enabled: false

pdb:
  enabled: false

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "256Mi"
    cpu: "250m"

config:
  nodeEnv: "development"
  logLevel: "debug"

externalSecrets:
  enabled: false

secrets:
  DATABASE_URL: "postgresql://postgres:postgres@postgres-order:5432/orderdb"
  SERVICEBUS_CONNECTION_STRING: "dev-servicebus-not-for-production"
  SERVICE_AUTH_TOKEN: "dev-service-auth-token"
