replicaCount: 1

image:
  tag: "dev"

autoscaling:
  enabled: false

pdb:
  enabled: false

securityContext:
  runAsNonRoot: true
  runAsUser: 1001
  readOnlyRootFilesystem: false
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

resources:
  requests:
    memory: "32Mi"
    cpu: "25m"
  limits:
    memory: "128Mi"
    cpu: "100m"

config:
  nodeEnv: "development"
  logLevel: "debug"
