replicaCount: 2

image:
  tag: "staging"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 3

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "128Mi"
    cpu: "100m"

config:
  nodeEnv: "staging"
  logLevel: "info"
